*{
    margin: 0;
    padding: 0;
}
.bg-body{
    background-image: url(./images/Mask\ group\ \(13\).png);
    height: 500px;
}
header{
    padding-left:30px;    
    display: flex;
    align-items: center;
    justify-content: start;
    border-bottom: 1px solid #fff;

}

.header-img{
    border-right: 1px solid #fff;
    padding-left: 110px;
    padding-right: 100px;
    padding-bottom: 15px;

    img{  
        margin-top: 30px;
    }
}


.sub-header{
    border-bottom: 1px solid #fff;
    padding-left: 50px;
    padding-bottom: 10px;
    span{
        color: #fff;
        margin-right: 16px;
    }
}

.nav{
    margin-top: 30px;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 120px;
}
.nav a{
    color: #fff;
    text-decoration: none;
    padding: 10px;
    margin: 15px;

}
.nav a:hover{
    background-color: green;
    border-radius: 5px;
}
.nav a.active{
    background-color: green;
    border-radius: 5px;
}

.bi-list{
    display: none;
    font-size: 30px;
    background-color: #fff;
}

.banner{
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10%;
    text-align: center;
    gap: 20px;

    h1{
        font-size: 50px;
        font-weight: 300;
    }

    p{
        font-size: 15px;
        font-weight: 200;
        width: 50%;
    }

}

.expert{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3%;

}


.Expert{
    background-image: url(./images/Mask\ group\ \(9\).png);
    background-repeat: no-repeat;
    width: 619px;
    height: 655px;
    margin-top: 100px;
    margin-bottom: 30px;
    margin-left: 7%;
    border-radius: 10px;
    border: 20px solid #FFFFFF;
    box-shadow: 1px 1px 2px 2px  rgb(240, 238, 238);
}
 .buttons{
    background-color: green;
    width: 239px;
    height: 149px;
    border-radius: 10px;
    margin-left: 69%;
   margin-top: -8%;



    h3{
        color: white;
        font-size: 60px;
        font-weight: 900;
        line-height: 60.54px;
        margin-left: 50%;
        padding-top: 9%;
    }


    P{
        color: white;
font-size: 20px;
font-weight: 900;
line-height: 20.18px;
text-align: center;
padding-top: 5%;


    }
 }


.Who{
    margin-top: 20px;
    width: 40%;

    h1{
        margin-top: 10px;
font-size: 30px;
font-weight: 900;
line-height: 40.98px;
    }
}

.aaaa{
    height: 180px;
    p{
        margin-top: 15px;
        font-family: Avenir;
        font-size: 16px;
        font-weight: 400;
        line-height: 29px;
        text-align: left;
        
    }
}



.mission{
    display: flex;
    background-image: url(./images/Mask\ group\ \(15\).png);
    width: 100%;
    height: 300px;
    margin-top: 4%;
    gap: 10%;

    img{
        width: 139px;
        height: 139px;
        gap: 0px;
        opacity: 0px;
        padding-left: 5%;
        padding-top: 7%;
    }
}

.Mission{
    padding-top: 7%;
    width: 67%;
    color: #fff;

    h1{
font-size: 30px;
font-weight: 900;
line-height: 47.25px;
text-align: left;
    }

    p{
font-size: 16px;
font-weight: 400;
line-height: 25px;
text-align: left;
padding-top: 20px;

    }
}

.Management{
    margin-top: 7%;
    text-align: center;
    align-items: center;
    
}

.flexrow{
    display: flex;
    /* margin-bottom: 30px; */
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 25px;
    row-gap: 25px;
    margin-left: 8%;
    margin-top: 4%;
    gap: 5%;
}

.mana{
    background-image: url(./images/black.png);
    background-repeat: no-repeat; 
    height: 400px;
    overflow: hidden;
    display: flex;
    border-radius: 20px;
    position: relative;
    background-size: 100%;
    background-position: center;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transition: all .3s ease-in-out;
}
.mana:hover{
    overflow: hidden;
    position: relative;
    background-size: 112%;
    transform: scale(1.0);
}

        
.test{
    background-color: #095f04de;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-top: 90%;
    color: #fff;
    width: 100%;
    /* height: 80px; */
    text-align: start;
    padding-left: 5%;
    padding-top: 4%;
    
    .link-icon{
        /* padding-left: 10px; */
        display: none;
    }
    h1{
        font-family: Barlow;
        font-size: 30px;
        font-weight: 700;
        line-height: 31.89px;
        text-align: left;
        margin-bottom: 10px;
    }
}
.mana:hover .test{
    height: 100%;
    margin-top: 80%;
    margin-bottom: 20px;
}
.mana:hover .link-icon{
    display: block;
    margin-top: 15px;
    margin-bottom: 30px;
    transition: all .3s ease-in-out;

    i{
        padding: 15px;
        margin-left: -18px;
    }
}
.footer{
    background-color: #04563B;
    margin-top: 10%;
   
}

.footer-nav{
    display: flex;
    justify-content: space-between;
    width: 90%;
    gap: 20px;
    color: #fff;
}

.footer1{
    padding-left: 80px;

    img{
        width: 150px;
    height: 120px;
    padding: 23px 14px 22.89px 15px;
    gap: 0px;
    opacity: 0px;
    }


    h4{
        width: 69%;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    padding-left: 13px;

    }
}

.footer2{
    padding-top: 40px;
    padding-right: 10%;

    h2{
font-size: 27px;
font-weight: 900;
line-height: 18px;
text-align: left;
    }

}

.navlink{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    gap: 30px;

    a{
        text-decoration: none;
        color: #fff;
        font-size: 20px;
        font-weight: 200;
    }
}

.footer3{
    padding-top: 40px;
    h2{
    font-size: 27px;
    font-weight: 900;
    line-height: 18px;
    text-align: left;
    }

    p{
        padding-top: 30px;
        width: 217px;
height: 60px;
width: 90%;
line-height: 20px;


    }

    span{
        padding-top: 10px;
    }
}   


.footer4{
    padding-left: 20px;
    padding-top: 40px;

    h2{
        font-size: 27px;
    font-weight: 900;
    line-height: 18px;
    text-align: left;

    }

    p{
        padding-top: 30px;
        width: 80%;
        gap: 50px;
    }

    
}
.yy{
    margin-top: 5%;
    border-top: 3px solid #fff;
    padding: 20px;
    color: white;
    display: flex;
    
    h4{
        padding-left: 5%;
    }

    p{
        padding-left: 30%;
    }

}


    

 
