*{
    margin: 0;
    padding: 0;
}
.bg-body{
    background-image: url(./images/Mask\ group\ \(22\).png);
    height: 500px;
    background-repeat: no-repeat;
}
header{
    padding-left:30px;    
    display: flex;
    align-items: center;
    justify-content: start;
    border-bottom: 1px solid #fff;

}

.header-img{
    border-right: 1px solid #fff;
    padding-left: 110px;
    padding-right: 100px;
    padding-bottom: 15px;

    img{  
        margin-top: 30px;
    }
}


.sub-header{
    border-bottom: 1px solid #fff;
    padding-left: 63px;
    padding-bottom: 15px;
    span{
        color: #fff;
        margin-right: 14px;
    }
}

.nav{
    margin-top: 30px;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 120px;
}
.nav a{
    color: #fff;
    text-decoration: none;
    padding: 10px;
    margin: 15px;

}
.nav a:hover{
    background-color: green;
    border-radius: 5px;
}
.nav a.active{
    background-color: green;
    border-radius: 5px;
}

.bi-list{
    display: none;
    font-size: 30px;
    background-color: #fff;
}

.banner{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 12%;
    color: white;
    
    h1{
    font-size: 70px;
    font-weight: 900;
    line-height: 85px;
    text-align: center;
    width: 45%;
    }

    p{

    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-align: center;
    width: 38%;
    }
}





.green{
    /* display: flex; */
    width: 90%;
    display: grid;
    /* flex-direction: column; */
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 25px;
    row-gap: 25px;
    margin-left: 7%;
    margin-top: 4%;
    height: fit-content;
    /* gap: 2%; */

}

.gee{
    background-image: url(./images/Mask\ group\ \(25\).png);
    background-repeat: no-repeat;
    width: 370px;
height: 500px;
/* overflow: hidden; */
display: flex;
/* position: relative; */
background-size: 100%;
/* background-position: center; */
top: 0;
bottom: 0;
    right: 0;
    left: 0;
    transition: all .3s ease-in-out; 

}
.gee:hover{
    /* overflow: hidden; */
    position: relative;
    background-size: 112%;
    transform: scale(1.0);
}


.gg{
    background-color: white;
    border-right: 1px solid #DDDDDD;
    border-left: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: 81%;
    padding-left: 20px;
    padding: 15px;
    width: 339px;
    height: 165px;

    h1{
        font-family: Avenir;
font-size: 27px;
font-weight: 650;
line-height: 31.5px;
text-align: left;
padding: 7px;

    }

    h4{
        font-family: Avenir;
font-size: 16px;
font-weight: 400;
line-height: 23px;
text-align: left;
padding: 7px;

    }
}

.gee:hover .gg{
    background-color: green;
    color: #fff;
}

.gh{
    display: flex;
    color: green;
    padding-left: 10px;
    padding: 10px;
    gap: 2%;

    p{
        font-family: Avenir;
font-size: 13px;
font-weight: 400;
line-height: 16.39px;
text-align: left;

    }

    span{
        padding-left: 20%;
        font-family: Avenir;
font-size: 16px;
font-weight: 400;
line-height: 21.86px;
text-align: left;

    }
}

.gee:hover .gh{
    color: #fff;
}


.btns{
    margin-top: 40px;
    align-items: center;
    text-align: center;
    gap: 20px;
    display: flex;
    margin-left: 110%;

    .active{
        background-color: rgb(0, 103, 0);
    }
    a{
        background-color: 
        #ccdbcb;
    }
}

.button{
    width: Fixed (30px)px;
height: Hug (29px)px;
padding: 5px 10px 5px 10px;
text-decoration: none;
text-align: center;

border-radius: 5px 5px 5px 5px;
    color: #fff;

.bi-chevron-left{
    width: Fixed (30px)px;
height: Hug (29px)px;
text-decoration: none;
text-align: center;
border-radius: 5px 5px 5px 5px;
    color: #fff;
}
.bi-chevron-right{
    width: 10px;
height: Hug (29px)px;
text-decoration: none;
text-align: center;

border-radius: 5px 5px 5px 5px;
    color: #fff;
   
}
} 

.footer{
    background-color: #04563B;
    margin-top: 10%;
    width: 100%;
    left: 0;
    /* margin-right: 50%; */
   
}

.footer-nav{
    display: flex;
    justify-content: space-between;
    /* width: 90%; */
    gap: 20px;
    color: #fff;
}

.footer1{
    padding-left: 80px;

    img{
        width: 150px;
    height: 120px;
    padding: 23px 14px 22.89px 15px;
    gap: 0px;
    opacity: 0px;
    }


    h4{
        width: 69%;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    padding-left: 13px;

    }
}

.footer2{
    padding-top: 40px;
    padding-right: 10%;

    h2{
font-size: 27px;
font-weight: 900;
line-height: 18px;
text-align: left;
    }

}

.navlink{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    gap: 30px;

    a{
        text-decoration: none;
        color: #fff;
        font-size: 20px;
        font-weight: 200;
    }
}

.footer3{
    padding-top: 40px;
    h2{
    font-size: 27px;
    font-weight: 900;
    line-height: 18px;
    text-align: left;
    }

    p{
        padding-top: 30px;
        width: 217px;
height: 60px;
width: 90%;
line-height: 20px;


    }

    span{
        padding-top: 10px;
    }
}   


.footer4{
    padding-left: 20px;
    padding-top: 40px;

    h2{
        font-size: 27px;
    font-weight: 900;
    line-height: 18px;
    text-align: left;

    }

    p{
        padding-top: 30px;
        width: 80%;
        gap: 50px;
    }

    
}
.yy{
    margin-top: 5%;
    border-top: 3px solid #fff;
    padding: 20px;
    color: white;
    display: flex;
    
    h4{
        padding-left: 5%;
    }

    p{
        padding-left: 30%;
    }

}



/*media queries */
@media (max-width:1024px) {
    .bg-body{
        width: 100%;
    }
    .header-img{
        padding-left: 60px;
        padding-right: 50px;
    }
    .sub-header{
        margin-left: 1px;
        padding: 10px;
    }  
    .nav{
        margin-left: 10px;
    }
    .nav a{
        padding: 5px;
    }
    .green{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .gee{
        width: 360px;
        margin-left: 30px;
        /* margin-bottom: 35px; */
    }
    .gh{
        span{
            padding-left: 5px;
        }
    }
    .btns{
        align-items: center;
        justify-content: center;
    }
}

@media (max-width:820px) {
    .header-img{
        padding-left: 70px;
        padding-right: 50px;
    }
    .sub-header{
        padding-left: 20px;
        padding-bottom: 10px;

        span{
            margin-right: 15px;
        }

    }
    .nav{
        margin-left: 10px;
       
    }
    .nav a{
        margin: 5px;
      padding: 5px;
     }
    .gee{
        margin-left: -2px;
    }
    .footer1{
        margin-left: -7%;
    }
    .footer3{
        margin-left: -11%;
    }
    .footer4{
        margin-right: 3%;
    }
}
@media (max-width:768px) {
    .bg-body{
        width: 100%;
    }
    .header-img{
        padding-left: 30px;
        padding-right: 30px;
    }
    .nav a{
        margin-left: 2px;
        padding: 2px;
    }
    .sub-header{
        padding-left: 9px;
    }
    .nav{
        margin-left: 2px;
        justify-content: space-between;
        gap: 2px;
    }
    .nav a{
        padding: 5px;
    }
    .green{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
   .gee{
    margin-left: 4px;
    width: 340px;
   }
   .gg{
    h1{
        margin-top: -15px;
    }
   }
   .gh{
    span{
        padding-left: 10%;
    }
   }
   .btns{
    justify-content: center;
    align-items: center;
   }
   .footer1{
    margin-left: -9%;
   }
  
   .footer3{
    margin-left: -9%;
   }
   .footer4{
    margin-right: 1%;
   }
   
}
@media (max-width:540px) {
    .bg-body{
        width: 100%;
    }
    .header-img{
        padding: 0;
        border: none;
        display: inline;
    }
    header{
        display: block;
    }
    .nav{
        margin-left: 0px;
        display: none;
    }
    .nav a{
        display: block;
        margin: 0;
    }
    .sub-header{
        display: none;
    }
    .menu{
        display: inline;
    }
    .bi-list{
        display: inline;
        position: absolute;
        top: 50px;
        right: 20px;
    }
    .banner{
        p{
            width: 70%;
        }
    }
    .green{
        display: grid;
        grid-template-columns: 1fr;
    }
    .gee{
        width: 370px;
        margin-left: 40px;
    }
    .btns{
      margin-left: 5px;
    }
    .footer-nav{
        display: block;
    }
    .footer2{
        margin-left: 9%;
    }
    .footer3{
        margin-left: 9%;
    }
    .footer4{
        margin-left: 5%;
    }
}
@media screen and (max-width:430px) {
    .bg-body{
        width: 100%;
    }
    .header-img{
        padding: 0;
        border: none;
        display: inline;
    }
    header{
        display: block;
    }
    .nav{
        margin-left: 0px;
        display: none;
    }
    .nav a{
        display: block;
        margin: 0;
    }
    .sub-header{
        display: none;
    }
    .menu{
        display: inline;
    }
    .bi-list{
        display: inline;
        position: absolute;
        top: 50px;
        right: 20px;
    }
    .banner{
        display: flex;
        justify-content: center;
        align-items: center;

        h1{
            font-size: 50px;
            font-weight: 900;
            line-height: 84.14px;
            text-align: center;
            width: 95%;
        }

        p{
            font-size: 14px;
            font-weight: 400;
            line-height: 16.83px;
            text-align: center;
            width: 95%;
        }
    }
    .green{
        display: block;
    }
    .gee{
        width: 340px;
        margin-left: 12px;
    }
    .gg{
        h1{
        margin-top: -8%;
        }
    }
    .gh{
        span{
            padding-left: 5%;
        }
    }
    .btns{
        justify-content: center;
        align-items: center;
    }
    .footer-nav{
        display: block;
    }
    .footer1{
        margin-left: -9%;
    }
    .footer2{
        margin-left: 15%;
    }
    .footer3{
        margin-left: 15%;
    }
    .footer4{
        margin-left: 9%;
    }
    
}
@media (max-width:414px) {
    .bg-body{
        width: 100%;
    }
    .gee{
        margin-left: 5px;
        /* width: 345px; */
    }
}
@media (max-width:412px) {
    .bg-body{
        width: 100%;
    }
    .gee{
        margin-left: 5px;
    }
}
/* @media (max-width:375px) {
    .gee{
        width: 300px;
    }
} */
@media (max-width:360px) {
    .gee{
        margin-left: 5px;
        width: 305px;
    }
    .gh{
        span{
            padding-left: 2px;
        }
    }
}
@media (max-width:344px) {
    .bg-body{
        width: 100%;
    }
    .gee{
        margin-left: -1px;
        width: 310px;
    }
    .gh{
        span{
            padding-left: 5px;
        }
    }
    .btns{
        margin-left: -2px;
    }
}

