*{
    margin: 0;
    padding: 0;
}
.bg-body{
    background-image: url(./images/Mask\ group\ \(16\).png);
    height: 500px;
}
header{
    padding-left:30px;    
    display: flex;
    align-items: center;
    justify-content: start;
    border-bottom: 1px solid #fff;

}

.header-img{
    border-right: 1px solid #fff;
    padding-left: 110px;
    padding-right: 100px;
    padding-bottom: 15px;

    img{  
        margin-top: 30px;
    }
}


.sub-header{
    border-bottom: 1px solid #fff;
    padding-left: 50px;
    padding-bottom: 10px;
    span{
        color: #fff;
        margin-right: 16px;
    }
}

.nav{
    margin-top: 30px;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 120px;
}
.nav a{
    color: #fff;
    text-decoration: none;
    padding: 10px;
    margin: 15px;

}
.nav a:hover{
    background-color: green;
    border-radius: 5px;
}
.nav a.active{
    background-color: green;
    border-radius: 5px;
}

.bi-list{
    display: none;
    font-size: 30px;
    background-color: #fff;
}

.banner{
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10%;
    text-align: center;
    gap: 20px;

    h1{
        font-size: 50px;
        font-weight: 300;
    }

    p{
        font-size: 15px;
        font-weight: 200;
        width: 50%;
    }

}

.imageholder{
    margin-top: 8%;
    padding-left: 5%;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 25px;
    row-gap: 25px;
    margin-right: 10px;
    background-color:  #FFFFFF;
    margin-left: 3%;
}
    
.imgee{
        background-image: url(./images/Mask\ group\ \(3\).png);  
        background-repeat: no-repeat;
        overflow: hidden;
        position: relative;
        background-size: 100%;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        transition: all .3s ease-in-out;

        button{
            background-color: green;
            outline: none;
            border: none;
            border-radius: 5px;
            color: #fff;
            width: 97px;
            height: 45px;
            margin-top: 18px;
            margin-left: 70%;
        }

        img{
            width: 375px;
            height: 300px;
            }
            }

.imgee:hover{
    overflow: hidden;
    position: relative;
    background-size: 105%;
    transform: scale(1.0);
}

.border{
    border-left: 1px solid #D9D9D9;
    border-right: 1px solid #D9D9D9;
    h2{
    font-size: 25px;
    color: black;
    font-weight: 900;
    line-height: 31.5px;
    margin-left: 8%;
    }
    h4{
    margin-left: 8%;
    font-size: 13.5px;
    font-weight: 300;
    line-height: 19.12px;
    }

    p{
        width: Hug (160px)px;
        border-bottom: 1px solid #D9D9D9;
        padding: 6%;
    }

    h3{
        padding: 5%;
        color: green;
        border-bottom: 1px solid #D9D9D9;
    }
}

.imgee2{
    background-image: url(./images/Mask\ group\ \(4\).png);
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
    background-size: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transition: all .3s ease-in-out;

        button{
            background-color: green;
            outline: none;
            border: none;
            border-radius: 5px;
            color: #fff;
            width: 97px;
            height: 45px;
            margin-top: 18px;
            margin-left: 70%;
        }

    img{
        width: 375px;
        height: 300px;
           }
        

border{
    margin-top: 150px;
    border-left: 1px solid #D9D9D9;
    border-right: 1px solid #D9D9D9;
    h2{
    font-size: 25px;
    color: black;
    font-weight: 900;
    line-height: 31.5px;
    margin-left: 8%;
    }
    h4{
    font-size: 13.5px;
    font-weight: 300;
    line-height: 19.12px;
    }

    p{
        width: Hug (160px)px;
        border-bottom: 1px solid #D9D9D9;
        padding: 6%;
    }

    h3{
        padding: 5%;
        color: green;
        border-bottom: 1px solid #D9D9D9;
    }
}
}
.imgee2:hover{
    overflow: hidden;
    position: relative;
    background-size: 105%;
    transform: scale(1.0);
}

.imgee3{
    background-image: url(./images/Mask\ group\ \(5\).png);
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
    background-size: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transition: all .3s ease-in-out;

        button{
            background-color: green;
            outline: none;
            border: none;
            border-radius: 5px;
            color: #fff;
            width: 97px;
            height: 45px;
            margin-top: 18px;
            margin-left: 70%;
        }

    img{
        width: 375px;
        height: 300px;
           }
        }

.border{
    margin-top: 60%;
    border-left: 1px solid #D9D9D9;
    border-right: 1px solid #D9D9D9;
    h2{
    font-size: 25px;
    padding-top: 22px;
    color: black;
    font-weight: 900;
    line-height: 31.5px;
    margin-left: 8%;
    }
    h4{
    margin-left: 8%;
    padding-top: 18px;
    font-size: 13.5px;
    font-weight: 300;
    line-height: 19.12px;
    }

    p{
        width: Hug (160px)px;
        border-bottom: 1px solid #D9D9D9;
        padding: 6%;
    }

    h3{
        padding: 5%;
        color: green;
        border-bottom: 1px solid #D9D9D9;
    }
}

.imgee3:hover{
    overflow: hidden;
    position: relative;
    background-size: 105%;
    transform: scale(1.0);
}

.imgee4{
    background-image: url(./images/Mask\ group\ \(6\).png);
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
    background-size: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transition: all .3s ease-in-out;

        button{
            background-color: green;
            outline: none;
            border: none;
            border-radius: 5px;
            color: #fff;
            width: 97px;
            height: 45px;
            margin-top: 18px;
            margin-left: 70%;
        }

    img{
        width: 375px;
        height: 300px;
           }
        }

.border{
    margin-top: 60%;
    border-left: 1px solid #D9D9D9;
    border-right: 1px solid #D9D9D9;
    h2{
    font-size: 25px;
    padding-top: 22px;
    color: black;
    font-weight: 900;
    line-height: 31.5px;
    margin-left: 8%;
    }
    h4{
    margin-left: 8%;
    padding-top: 18px;
    font-size: 13.5px;
    font-weight: 300;
    line-height: 19.12px;
    }

    p{
        width: Hug (160px)px;
        border-bottom: 1px solid #D9D9D9;
        padding: 6%;
    }

    h3{
        padding: 5%;
        color: green;
        border-bottom: 1px solid #D9D9D9;
    }
}

.imgee4:hover{
    overflow: hidden;
    position: relative;
    background-size: 105%;
    transform: scale(1.0);
}


.imgee5{
    background-image: url(./images/Mask\ group\ \(7\).png);
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
    background-size: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transition: all .3s ease-in-out;

        button{
            background-color: green;
            outline: none;
            border: none;
            border-radius: 5px;
            color: #fff;
            width: 97px;
            height: 45px;
            margin-top: 18px;
            margin-left: 70%;
        }

    img{
        width: 375px;
        height: 300px;
           }
        }

.border{
    margin-top: 60%;
    border-left: 1px solid #D9D9D9;
    border-right: 1px solid #D9D9D9;
    h2{
    font-size: 25px;
    padding-top: 22px;
    color: black;
    font-weight: 900;
    line-height: 31.5px;
    margin-left: 8%;
    }
    h4{
    margin-left: 8%;
    padding-top: 18px;
    font-size: 13.5px;
    font-weight: 300;
    line-height: 19.12px;
    }

    p{
        width: Hug (160px)px;
        border-bottom: 1px solid #D9D9D9;
        padding: 6%;
    }

    h3{
        padding: 5%;
        color: green;
        border-bottom: 1px solid #D9D9D9;
    }
}
.imgee5:hover{
    overflow: hidden;
    position: relative;
    background-size: 105%;
    transform: scale(1.0);
}

.imgee6{
    background-image: url(./images/Mask\ group\ \(8\).png);
    background-repeat: no-repeat;
    overflow: hidden;
    overflow: hidden;
    position: relative;
    background-size: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transition: all .3s ease-in-out;


        button{
            background-color: green;
            outline: none;
            border: none;
            border-radius: 5px;
            color: #fff;
            width: 97px;
            height: 45px;
            margin-top: 18px;
            margin-left: 70%;
        }

    img{
        width: 375px;
        height: 300px;
           }
        }

.border{
    margin-top: 60%;
    border-left: 1px solid #D9D9D9;
    border-right: 1px solid #D9D9D9;
    h2{
    font-size: 25px;
    color: black;
    font-weight: 900;
    line-height: 31.5px;
    margin-left: 8%;
    }
    h4{
    margin-left: 8%;
    font-size: 13.5px;
    font-weight: 300;
    line-height: 19.12px;
    }

    p{
        width: Hug (160px)px;
        border-bottom: 1px solid #D9D9D9;
        padding: 6%;
    }

    h3 a{
        color: green;
        text-decoration: none;
    }
    span{
        color: green;
        font-size: 25px;
        margin-left: 25px;
        font-weight: bold;
    }
}

.imgee6:hover{
    overflow: hidden;
    position: relative;
    background-size: 105%;
    transform: scale(1.0);
}

.btn{
    margin-top: 40px;
    align-items: center;
    text-align: center;
    /* justify-content: space-between; */

    .active{
        background-color: rgb(0, 103, 0);
    }
    a{
        background-color: 
        #ccdbcb;
    }
}

.button{
    width: Fixed (30px)px;
height: Hug (29px)px;
padding: 5px 10px 5px 10px;
/* gap: 10; */
text-decoration: none;
text-align: center;

border-radius: 5px 5px 5px 5px;
    color: #fff;

.bi-chevron-left{
    width: Fixed (30px)px;
height: Hug (29px)px;
/* padding: 5px 8px; */
/* gap: 10px; */
text-decoration: none;
text-align: center;
border-radius: 5px 5px 5px 5px;
    color: #fff;
}
.bi-chevron-right{
    width: 10px;
height: Hug (29px)px;
/* padding: 5px 8px; */
/* gap: 10px; */
text-decoration: none;
text-align: center;

border-radius: 5px 5px 5px 5px;
    color: #fff;
   
}
}

.footer{
    background-color: #04563B;
    margin-top: 20%;
   
}

.footer-nav{
    display: flex;
    justify-content: space-between;
    width: 90%;
    gap: 20px;
    color: #fff;
}

.footer1{
    padding-left: 80px;

    img{
        width: 150px;
    height: 120px;
    padding: 23px 14px 22.89px 15px;
    gap: 0px;
    opacity: 0px;
    }


    h4{
        width: 69%;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    padding-left: 13px;

    }
}

.footer2{
    padding-top: 40px;
    padding-right: 10%;

    h2{
font-size: 27px;
font-weight: 900;
line-height: 18px;
text-align: left;
    }

}

.navlink{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    gap: 30px;

    a{
        text-decoration: none;
        color: #fff;
        font-size: 20px;
        font-weight: 200;
    }
}

.footer3{
    padding-top: 40px;
    h2{
    font-size: 27px;
    font-weight: 900;
    line-height: 18px;
    text-align: left;
    }

    p{
        padding-top: 30px;
        width: 217px;
height: 60px;
width: 90%;
line-height: 20px;


    }

    span{
        padding-top: 10px;
    }
}   


.footer4{
    padding-left: 20px;
    padding-top: 30px;

    h2{
        font-size: 27px;
    font-weight: 900;
    line-height: 18px;
    text-align: left;

    }

    p{
        padding-top: 30px;
        width: 80%;
        gap: 50px;
    }

    
}
.yy{
    margin-top: 5%;
    border-top: 3px solid #fff;
    padding: 20px;
    color: white;
    display: flex;
    
    h4{
        padding-left: 5%;
    }

    p{
        padding-left: 30%;
    }

}